/*.im1
{
  width: 10%;
  background-color: rebeccapurple;
  position: absolute;
  transform: translateY(-253px);
  display: none;
}*/
.im2
{
  position: relative;
  background-color: chartreuse;
 
  display: none;
  width: 80px;
}
.b
{
  display: inline-flex;
}
.im3
{
  position: relative;
  background-color: chartreuse;
 
  display: none;
  width: 80px; 
}
.im4
{
  position: relative;
  background-color: chartreuse;
 
  display: none;
  width: 80px; 
}
.im5
{
  position: relative;
  background-color: chartreuse;
 
  display: none;
  width: 80px; 
}
.im6
{
  position: relative;
  background-color: chartreuse;
 
  display: none;
  width: 80px; 
}
.im1
{
  position: relative;
  background-color: chartreuse;
 
  display: none;
  width: 80px;
}

